---
layout: book
title: {{ page_title }}
book_page: true
body_class: book-page
permalink: /book/{{ page_url }}
---

<div class="alert alert-warning">
  在线版的内容可能落后于电子书，如果想及时获得更新，请<a href="/#ebook" title="购买电子书">购买电子书</a>。
</div>

<article class="article">
  {{ content }}
</article>

{{ footnotes }}
